.active {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  color: rgb(37 99 235 / var(--tw-text-opacity));
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 20px;
}

.MuiTypography-root {
  font-size: 20px !important;
  padding: 2px !important;
}

.css-h4y409-MuiList-root {
  margin: -8px !important;
}

.css-bshv44-MuiButtonBase-root-MuiListItem-root {
  border: 1px solid rgb(62, 62, 62) !important;
}
